<div class="container-fluid">
    <div class="row">
      <div class="footer bg-secondary">
        <div class="col">
          <ul>
            <h5>CONTACT</h5>
            <li>EMAIL</li>
            <li>EMAIL</li>
            <li>EMAIL</li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <h5>LINKS</h5>
            <li>NEWS</li>
            <li>NEWS</li>
            <li>NEWS</li>
            <li>NEWS</li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <h5>OTHERS</h5>
            <li>NEWS</li>
            <li>NEWS</li>
            <li>NEWS</li>
          </ul>
        </div>
      </div>
    </div>
  </div>