<div class="slide p-4" style="display: flex; justify-content: center">
<div class="col-lg-6 col-md-12 col-sm-12" >
  <div [formGroup]="studentForm">
    <div class="form-group">
      <label>Name</label>
      <input maxlength="50" formControlName="name"  type="text" class="form-control" placeholder="Enter name">
      <small *ngIf="studentForm.controls.name.hasError('required') && studentForm.controls.name.touched" class="text-danger">Name is required</small>
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input formControlName="phone" type="text" class="form-control" placeholder="Enter phone">
      <small *ngIf="studentForm.get('phone').hasError('pattern') && studentForm.get('phone').touched" class="text-danger">Phone isn't correct</small>
      <small *ngIf="studentForm.get('phone').hasError('required') && studentForm.get('phone').touched" class="text-danger">Phone is required</small>
    </div>
    <div class="form-group">
      <label>Faculty</label>
      <select formControlName="faculty" class="form-control">
        <option [value]="f.name" *ngFor="let f of faculties">{{f.name}}</option>
      </select>
      <small *ngIf="studentForm.get('faculty').invalid && studentForm.get('faculty').touched" class="text-danger">Faculty is required</small>

    </div>
    <div class="form-group">
      <label>Date Of Birth</label>
      <input formControlName="dob"  type="date" class="form-control" placeholder="Enter Date of birth">
      <small *ngIf="studentForm.get('dob').invalid && studentForm.get('dob').touched" class="text-danger">Faculty is required</small>
    </div>
    <div class="form-group">
      <label>Address</label>
      <input formControlName="address" type="text" class="form-control" placeholder="Enter address">
    </div>
    <div class="custom-file">
        <label>Image</label>
        <input style="opacity: 0;"  (change)="getFileName(x)" #x  type="file" id="customFileLangHTML">
        <label [innerHtml]="image" class="custom-file-label" for="customFileLangHTML" data-browse="Choose File"></label>
      </div>
    <div class="form-group d-flex">
      <button [disabled]="studentForm.invalid" (click)="addStudent()" *ngIf="addPage"  type="submit" class="bg-primary color-secondary" mat-button>Add</button>
      <button [disabled]="studentForm.invalid" (click)="editStudent()" *ngIf="!addPage" type="submit" class="bg-primary color-secondary" mat-button>Save</button>
      <button (click)="goBack()"  class="bg-primary color-secondary" mat-button>Back</button>
    </div>
  </div>
</div>
</div>